
@import './base/variables.css';
@import './base/typography.css';
@import './components/button.module.css';
@import './components/card.module.css';


/* global styles here imported in main.jsx */


/* absolute global styling */
:root {
  font-family: var(--font-family);
  font-size: var(--text-base);

  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* React root container using id root */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Shell defines boundaries, Stack defines rhythm, Cluster defines horizontal relationships. */

.shell {
  max-width: var(--max-page);
  margin-inline: auto;
  padding-inline: var(--space-md);
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--space-md); /* change upon media queries */
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm); /* change upon media queries */
  align-items: center;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (min-width: 31.25em) and (max-width: 62.5em) {
  body {
    /* Tablet styles */
  }
}

@media (max-width: 31.25em) {
  body {
    /* Mobile styles */
  }
}