
/* following BEM */

.notificationsCard {
    flex: 1;
    background-color: rgb(47, 255, 92);
    border-radius: var(--border-radius);
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    margin: var(--space-md);
}